 /*iframe 不能引用common.css 只能copy复制全局样式*/
body {
    /*天猫默认字体大小*/
    font-size: 12px;
    font-family: Arial;
}

/*所有的超链，都默认以灰色#999 形式表现出来*/

a {
	text-decoration: none;
    color: #999;
}

a:hover {
    /*鼠标悬停没有下划线*/
    text-decoration: none;
    /*鼠标悬停，变为天猫红*/
    color: #C40000;
}


div.footer {
	margin: 0px 0px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: solid;
	border-top-color: #e7e7e7;
}

div.footer_ensure {
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: center;
}

div.horizontal_line{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e7e7e7;	
}

div.footer_desc {
	padding-top: 30px;
	margin: 0px auto;
	max-width:1024px;
	
}

div.footer div.copyright div.white_link a {
	color: white;
	padding: 0px 5px;
}

div.footer div.copyright div.white_link {
	padding: 10px 0px;
	margin-left: 10px;
}

div.footer_desc div.descColumn {
	width: 18%;
	float: left;
	padding-left: 15px;
}

div.footer_desc div.descColumn span.descColumnTitle {
	color: #646464;
	font-weight: bold;
	font-size: 16px;
}

div.footer_desc a {
	display: block;
	padding-top: 3px;
}

div.copyright {
	background-color: black;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: solid;
	border-top-color: #C40000;
	margin-top:20px;
}
div.coptyrightMiddle{
	width:1024px;
	margin:0px auto;
	text-align:left;
	position:relative;
}

img.cateye {
	margin-left: 20px;
	display:block;
	position:absolute;
	top:-33px;
	left:-15px;
}

div.copyright span.slash {
	color: white;
}

div.license {
	margin-left: 10px;
	padding-bottom: 30px;
}

div.license div.copyRightYear {
	margin: 10px 0px;
	color: #686868;
}

div.license span {
	color: #A4A4A4;
}

div.simpleLogo {
	padding: 32px 0px;
}