 /*iframe 不能引用common.css 只能copy复制全局样式*/
body {
    /*天猫默认字体大小*/
    font-size: 12px;
    font-family: Arial;
}

/*所有的超链，都默认以灰色#999 形式表现出来*/

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    /*鼠标悬停没有下划线*/
    text-decoration: none;
    /*鼠标悬停，变为天猫红*/
    color: #C40000;
}

nav.top{
	background-color: #f2f2f2;
	padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7
}
nav.top span, nav.top a{
    color: #999;
    margin: 0px 10px 0px 10px;
}
nav.top a:hover{
    color: #C40000;
    text-decoration: none; // 定义文本装饰：underline overline: ;
}
.pullright{
	float: right ;
}

.redColor{
	color: #C40000 !important;
}